div {
    display: flex;
    
}

.quizz {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
aside {
    padding-right: 10%;
}

.Formulaire {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 5%;
    padding-right: 3%;
}
#articleHeader {
    display: flex;
    justify-content: center;

}
#bouton {
    display: flex;
    justify-content: center;
}

.hr {
    width: 80%;
}


@media screen and (max-width: 811px){

    .Formulaire {
        width: auto;
    }



}